.header {
    width: 100vw;
    max-width:100%;  /* added */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 20px 50px;
    background-color: #052641;
    &__logo-image {
        width: 165px;
        padding: 0 20px;
        margin-left: 10px;
    }
    &__sections {
        display: flex;
        gap: 20px;
    }
    &__section {
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
    }
    &__nav-and-lang {
        width: 70vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    &__lang-btn {
        margin-right: 10px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: bold;
        color: #052641;
        padding: 0 10px;
    }
}